* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    padding: 5px;
    background-color: #000;
    color: #F6F6F6;
   } 

main {
    display:flex;
    align-items: center;
   }

.destaque-titulo {
    color: #22D4FD;
}