@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    padding: 5px;
    background-color: #000;
    color: #F6F6F6;
   } 

.apresentacao {
    margin: 10% 15%; 
    display:flex;
    align-items: center;
    justify-content: space-between;     
   }

.apresentacao___conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao___conteudo___titulo {
    font-size: 36px;
    line-height: 56px;
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;    
}

.apresentacao___conteudo___texto {
    font-size: 24px;
    line-height: 36px; 
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;  
}

.apresentacao___links {
    display: flex;
    justify-content: space-between;
}

.apresentacao___links___botao {
    width: 280px;
    padding: 21.5px 0;
    border-radius: 16px;
    background-color: #22D4FD;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #000;
    text-decoration: none;
}

.destaque-titulo {
    color: #22D4FD;
}





